@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: normal;
    height: 10%;
    width: 100%;
    padding: 0;
    background-color: #337079;
    color: white;
}

header .headline {
    line-height: 10vh;
    float: left;
    font-size: 5vh;
}

.nav-list {
    line-height: 10vh;
    float: left;
    list-style: none;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 5vw;
}

h1 {
    display: block;
    margin: 0,0,0,0;
}

p {
    display: block;
}

img {
    width: 100%;
}