<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<title>Tdkj.f5si - {{ page.title }}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

	<!-- and it's easy to individually load additional languages -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
	<script>hljs.highlightAll();</script>


	<link rel="stylesheet" href="/main.css" />
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
	<script>
		const options = {
			bottom: '32px', // default: '32px'
			right: '32px', // default: '32px'
			left: 'unset', // default: 'unset'
			time: '0.8s', // default: '0.3s'
			mixColor: '#fff', // default: '#fff'
			backgroundColor: '#fff',  // default: '#fff'
			buttonColorDark: '#100f2c',  // default: '#100f2c'
			buttonColorLight: '#fff', // default: '#fff'
			saveInCookies: true, // default: true,
			label: '🌓', // default: ''
			autoMatchOsTheme: true // default: true
		}

		const darkmode = new Darkmode(options);
		darkmode.showWidget();
	</script>
	<header class="site-header">
		<div class="wrapper site-header__wrapper">
			<a href="/index.html" class="brand">Tdkj.f5si</a>
			<nav class="nav">
				<div class="nav__toggle" aria-expanded="false" type="button">
					<span style="font-size: 150%;" id="hum">≡</span>
				</div>
				<ul class="nav__wrapper">
					<li class="nav__item"><a href="#">Home</a></li>
					<li class="nav__item"><a href="#">About</a></li>
					<li class="nav__item"><a href="#">Services</a></li>
					<li class="nav__item"><a href="#">Hire us</a></li>
					<li class="nav__item"><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<p id="path">{{page.path}}</p>
		<h1>{{ page.title }}</h1>
		<hr style="width: 100%;">
		<p>{{page.date}}</p><br><br>
		{{ content }}
	</main>
	<script src="/main.js"></script>
</body>

</html>