<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <header>
        <h1 class="headline">暇人Blog</h1>
        <ul>
            <li class="nav-list-item"><a href="/index.html">Home</a></li>
            <li class="nav-list-item"><a href="/about.html">About</a></li>
            <li class="nav-list-item"><a href="/content.html">Contact</a></li>
        </ul>
    </header>
    <main>{{ content }}</main> 
</body>

</html>